body{
    background:white;
    color:black;
    font-family:sans-serif;
    text-align:center;
    margin-top:100px;
}

button{
    padding:10px 20px;
    font-size:18px;
    cursor:pointer;
    border:none;
    border-radius:8px;
}

button:hover{
    background:skyblue;
}

h1 {
    color: red;
}

p {
    color: prum;
    text-shadow: 2px 2px 0px black,
    -1px -1px 12px cyan;
}
