body {
    background-color: #f7f3e8;
    background-image:
        linear-gradient(45deg, #ddd 25%, transparent 25%),
        linear-gradient(-45deg, #ddd 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #ddd 75%),
        linear-gradient(-45deg, transparent 75%, #ddd 75%);
    background-size: 40px 40px;
}

button{
    padding:10px 20px;
    font-size:18px;
    cursor:pointer;
    border:none;
    border-radius:8px;
}

button:hover{
    background:skyblue;
}

h1 {
    color: red;
}

p {
    color: plum;
    text-shadow: 2px 2px 0px black,
    -1px -1px 12px cyan;
}
